@import "tailwindcss";

:root{
  --primary: hsl(0, 0%, 0%);
  --primaryT: hsla(0, 0%, 0%, 0.6);
  --secondary: hsl(279, 96%, 65%);
  --secondaryT: hsla(279, 96%, 65%, 0.6);
  --secondaryL: hsl(279, 100%, 79%);
  --secondaryLT: hsla(279, 100%, 79%, 0.6);
  --hovered: hsla(0, 0%, 78%, 0.3);
}

@theme {
  --color-primary: var(--primary);
  --color-primaryT: var(--primaryT);
  --color-secondary: var(--secondary);
  --color-secondaryT: var(--secondaryT);
  --color-secondaryL: var(--secondaryL);
  --color-secondaryLT: var(--secondaryLT);
  --color-hovered: var(--hovered);
}

*::-webkit-scrollbar {
  display:none;
}


.codeFont {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bitFont {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.neon-xl {
  box-shadow: 0px 0px 20px 10px var(--secondaryT), inset 0px 0px 8px 4px var(--secondaryT);
  border: 2px solid var(--secondaryT);
  outline: none;
}

.neon-sm {
  box-shadow: 0px 0px 10px 4px var(--secondaryT), inset 0px 0px 8px 4px var(--secondaryT);
  border: 1px solid var(--secondaryT);
  outline: none;
}

.bg-discord {
  background-color: #7289DA;
}

input.neon-xl:hover, textarea.neon-xl:hover, label.neon-xl:hover, .neon-xl.hoverable:hover {
  box-shadow: 0px 0px 20px 10px var(--secondaryLT), inset 0px 0px 8px 4px var(--secondaryLT);
  border: 2px solid var(--secondaryLT);
}

input.neon-sm:hover, textarea.neon-sm:hover, label.neon-sm:hover, .neon-sm.hoverable:hover, .neon-sm.hoverable:hover > .postHeader {
  box-shadow: 0px 0px 10px 4px var(--secondaryLT), inset 0px 0px 8px 4px var(--secondaryLT);
  border: 1px solid var(--secondaryLT);
}

.center {
  margin-inline: auto;
}

.postHeader {
  box-shadow: 0px 5px 10px 0px var(--secondaryT), inset 0px 0px 8px 4px var(--secondaryT);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.postAction {
  border-left: none;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

label:has(input[type=radio]:checked), label:has(input[type=checkbox]:checked) {
  background-color: var(--secondary);
}

label:has(input[type=radio]:checked:hover), label:has(input[type=checkbox]:checked:hover) {
  background-color: var(--secondaryL);
}

.fade {
  background-image: linear-gradient(var(--primary) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, var(--primary) 100%);
}

@keyframes informations {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.infoMessage {
  animation-name: informations;
  animation-duration: 5s;
  opacity:0;
}